<!doctype html>
<html lang="ko">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/dist/css/bootstrap.css" rel="stylesheet">
    <link href="<%= link %>" rel="stylesheet">

    <style>
        
    </style>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/player">선수 입력</a>
            <a class="p-2 text-dark" href="#">Enterprise</a>
            <a class="p-2 text-dark" href="#">Support</a>
            <a class="p-2 text-dark" href="#">Pricing</a>
        </nav>
        <a class="btn btn-outline-primary" href="#">Sign up</a>
    </div>
</head>
<body class="bg-light">
    <%- body %>
    <%- script %>
</body>
</html>