<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Jekyll v4.1.1">
  <title>Checkout example · Bootstrap</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/checkout/">

  <!-- Bootstrap core CSS -->
  <link href="/assets/dist/css/bootstrap.css" rel="stylesheet">

  <style>
    td{text-align:center}
    input{
      display: block;
      width: 100%;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5; 
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
  </style>
  <!-- Custom styles for this template -->
  <link href="/css/player.css" rel="stylesheet">
</head>
<body class="bg-light">
  <div class="container">
    <div class="py-5 text-center">
      <h2>Checkout form</h2>
      <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group
        has a validation state that can be triggered by attempting to submit the form without completing it.</p>
    </div>

    <div class="row">
      <table class="table table-striped">
        <tr>
          <td>포지션</td>
          <td>이름</td>
          <td>등급</td>
          <td>타입</td>
          <td>타순</td>
          <td>레벨</td>
          <td>나이</td>
          <td>부포지션</td>
        </tr>
        <tr>
          <td>포수</td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td>타입</td>
          <td>타순</td>
          <td>레벨</td>
          <td>나이</td>
          <td>부포지션</td>
        </tr>
      </table>
      <!-- <div>
        <label for="firstName">First name</label>
          <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
      </div> -->
    </div>
  </div>
</body>

</html>