<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Checkout example · Bootstrap</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/checkout/">

  <!-- Bootstrap core CSS -->
  <link href="/assets/dist/css/bootstrap.css" rel="stylesheet">

  <style>
    td {
      text-align: center
    }

    input {
      display: block;
      width: 100%;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    input:focus {
      color: #495057;
      background-color: #fff;
      border-color: #80bdff;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  </style>
  <!-- Custom styles for this template -->
  <link href="/css/player.css" rel="stylesheet">
</head>

<body class="bg-light">
  <div class="container">
    <div class="py-5 text-center">
      <h2>선수 입력 화면 임시</h2>
      <p class="lead">임시 화면입니다.</p>
    </div>

    <div class="row">
      <form action="/player" method="POST">
        <table class="table table-striped">
          <tr>
            <td>
              <h4>구단주명</h4>
            </td>
            <td>
              <input type="text" name="memberName">
            </td>
          </tr>
        </table>
        <table class="table">
            <tr>
              <td>
                <button type="button" onclick="addRow()">추가</button>
              </td>
              <td>
                <button type="button" onclick="removeRow()">삭제</button>
              </td>
            </tr>
        </table>
        <table class="table table-striped" id="mainTable">
          <thead>
            <tr>
              <td style="width: 10%;">포지션</td>
              <td style="width: 10%;">이름</td>
              <td style="width: 15%;">등급</td>
              <td style="width: 15%;">타입</td>
              <td style="width: 10%;">타순</td>
              <td style="width: 8%;">레벨</td>
              <td style="width: 8%;">연도</td>
              <td style="width: 8%;">나이</td>
              <td>부포지션</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <select class="custom-select" name="playerMainPosition" required>
                  <option value="C">포수</option>
                  <option value="1B">1루수</option>
                  <option value="2B">2루수</option>
                  <option value="3B">3루수</option>
                  <option value="SS">유격수</option>
                  <option value="LF">좌익수</option>
                  <option value="CF">중견수</option>
                  <option value="RF">우익수</option>
                  <option value="DH">지명</option>
                  <option value="BC">벤치</option>
                  <option value="SP">선발</option>
                  <option value="RP">중계</option>
                  <option value="SU">셋업</option>
                  <option value="CR">마무리</option>
                </select>
              </td>
              <td>
                <input type="text" name="playerName">
              </td>
              <td>
                <select class="custom-select" name="playerClass" required>
                  <option value="CL">클래식</option>
                  <option value="FR">프랜차이즈</option>
                  <option value="EX">익스</option>
                  <option value="WIN">위너스</option>
                  <option value="MON">몬스터</option>
                  <option value="SIG">시그니처</option>
                  <option value="TH">타이틀홀더</option>
                  <option value="MA">마스터</option>
                  <option value="LE">레전드</option>
                  <option value="HOF">HOF</option>
                  <option value="ETC">기타</option>
                </select>
              </td>
              <td>
                <select class="custom-select" name="playerType" required>
                  <option value="JS">작전수행</option>
                  <option value="HT">호타준족</option>
                  <option value="SLG">슬러거</option>
                  <option value="BAL">밸런스</option>
                  <option value="SP">선발</option>
                  <option value="SM">스윙맨</option>
                  <option value="RP">구원</option>
                </select>
              </td>
              <td>
                <select class="custom-select" name="playerOrder" required>
                  <option value="TOP">상위</option>
                  <option value="CLEANUP">클린업</option>
                  <option value="BOT">하위</option>
                  <option value="NONE">NONE</option>
                </select>
              </td>
              <td>
                <select class="custom-select" name="playerLevel" required>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </td>
              <td>
                <input type="text" name="playerYear">
              </td>
              </td>
              <td>
                <input type="text" name="playerAge" required>
              </td>
              <td>
                <select class="custom-select" name="playerSubPosition">
                  <option value="">NONE</option>
                  <option value="">포수</option>
                  <option value="">1루수</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table table-striped">
          <button type="submit" class="button">확인</button>
        </table>
      </form>
      <!-- <div>
        <label for="firstName">First name</label>
          <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
      </div> -->
    </div>
  </div>
  <script type='text/javascript'>

    var mainTable = document.getElementById('mainTable');
    var mainTableBody = mainTable.getElementsByTagName('tbody')[0];
    var rowCount = mainTableBody.rows.length;

    function addRow() {
      rowCount = rowCount + 1;
      mainTableBody.insertBefore(mainTableBody.rows[0].cloneNode(true), mainTable.rows[rowCount]);

      console.log(rowCount);
    }

    function removeRow() {
      

      if(rowCount < 2) {
        alert("그만 지워");
      } else {
        rowCount = rowCount - 1;
        mainTableBody.deleteRow(rowCount);
      }
      
      console.log(rowCount);
    }

  </script>
</body>

</html>